<!-- advanced/templates/contents/contents_1/귀어정책지원교육.html-->
{% extends "contents/contents_base.html" %}

{% block title %}귀어정책지원교육{% endblock %}

<div name="section">
{% block content_title %}
    <h3 class="fw-bold text-primary mb-3" name="content_title">
        귀어정책지원&교육
    </h3>
    <hr>
    {% endblock %}

    <!-- 여기에 입력한 내용은 등장하지 않습니다. -->

    {% block content_body %}
    <div class="content-body" name="content_text">
        <p>샤샤샤아 샤샤샤아 by 건담 </p>
    </div>
    {% endblock %}
</div>