<!-- templates/partials/menu_data.html -->

{% if folder == 'contents_1' %}
<div class="dropdown-col" id="col-1">
    <h6 class="text-primary fw-bold">어촌귀어란?</h6>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '귀어귀촌개념' }}" href="{{ url_for('main.section', folder='contents_1', page='귀어귀촌개념') }}">- 귀어귀촌 개념</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업정의' }}" href="{{ url_for('main.section', folder='contents_1', page='어업정의') }}">- 어업 정의</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '귀어귀촌준비절차' }}" href="{{ url_for('main.section', folder='contents_1', page='귀어귀촌준비절차') }}">- 귀어귀촌 준비절차</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업면허허가' }}" href="{{ url_for('main.section', folder='contents_1', page='어업면허허가') }}">- 어업면허/허가</a>
</div>

{% elif folder is defined and folder == 'contents_2' %}
<div class="dropdown-col" id="col-2">
    <h6 class="text-primary fw-bold">어촌귀어의 혜택</h6>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어촌이사혜택' }}" href="{{ url_for('main.section', folder='contents_2', page='어촌이사혜택') }}">- 어촌 이사 혜택</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '귀어정책지원교육' }}" href="{{ url_for('main.section', folder='contents_2', page='귀어정책지원교육') }}">- 귀어정책지원&교육</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '청년어촌정착지원금' }}" href="{{ url_for('main.section', folder='contents_2', page='청년어촌정착지원금') }}">- 청년어촌 정착지원금</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '양식장및어선임대사업' }}" href="{{ url_for('main.section', folder='contents_2', page='양식장및어선임대사업') }}">- 양식장 및 어선 임대사업</a>
</div>

{% elif folder is defined and folder == 'contents_3' %}
<div class="dropdown-col" id="col-3">
    <h6 class="text-primary fw-bold">어업 안전</h6>
    <a class="dropdown-item" href="#">- 이상 생태 사례</a>
    <ul class="list-unstyled ms-3">
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '이상생태현상_산호초백화' }}" href="{{ url_for('main.section', folder='contents_3', page='이상생태현상_산호초백화') }}">- 산호초 백화 </a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '이상생태현상_굴폐사' }}" href="{{ url_for('main.section', folder='contents_3', page='이상생태현상_굴폐사') }}">- 굴 폐사 </a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '이상생태현상_대응법' }}" href="{{ url_for('main.section', folder='contents_3', page='이상생태현상_대응법') }}">- 대응법 </a></li>
    </ul>
    <a class="dropdown-item" href="#">- 유해 해양생물</a>
    <ul class="list-unstyled ms-3">
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '유해해양생물_종류' }}" href="{{ url_for('main.section', folder='contents_3', page='유해해양생물_종류') }}">- 종류</a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '유해해양생물_대응법' }}" href="{{ url_for('main.section', folder='contents_3', page='유해해양생물_대응법') }}">- 대응법</a></li>
    </ul>
</div>

{% elif folder is defined and folder == 'contents_4' %}
<div class="dropdown-col" id="col-4">
    <h6 class="text-primary fw-bold">스마트 양식 및 친환경 어업 기술</h6>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == 'IoTAI활용스마트양식' }}" href="{{ url_for('main.section', folder='contents_4', page='IoTAI활용스마트양식') }}">- IoT·AI 활용 스마트 양식</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '친환경지속가능어업' }}" href="{{ url_for('main.section', folder='contents_4', page='친환경지속가능어업') }}">- 친환경·지속가능 어업</a>
</div>

{% elif folder is defined and folder == 'contents_5' %}
<div class="dropdown-col" id="col-5">
    <h6 class="text-primary fw-bold">어업 관련 정보</h6>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류') }}">- 어업 종류</a>
    <!-- <ul class="list-unstyled ms-3">
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류_양식어업' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류_양식어업') }}">- 양식어업</a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류_어선어업' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류_어선어업') }}">- 어선어업</a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류_나잠어업' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류_나잠어업') }}">- 나잠어업</a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류_정착어업' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류_정착어업') }}">- 정착어업</a></li>
        <li><a class="dropdown-item {{ 'active fw-bold text-primary' if page == '어업종류_etc' }}" href="{{ url_for('main.section', folder='contents_5', page='어업종류_etc') }}">- 기타</a></li>
    </ul> -->
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '지역별주력어종' }}" href="{{ url_for('main.section', folder='contents_5', page='지역별주력어종') }}">- 지역별 주력 어종</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '종류별낚시설명' }}" href="{{ url_for('main.section', folder='contents_5', page='종류별낚시설명') }}">- 종류별 낚시 설명</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '낚시금지구역' }}" href="{{ url_for('main.section', folder='contents_5', page='낚시금지구역') }}">- 낚시 금지구역</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '금어기및금지체장' }}" href="{{ url_for('main.section', folder='contents_5', page='금어기및금지체장') }}">- 금어기 및 금지체장</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '지역별낚시명소' }}" href="{{ url_for('main.section', folder='contents_5', page='지역별낚시명소') }}">- 지역별 낚시명소</a>
    <a class="dropdown-item {{ 'active fw-bold text-primary' if page == '지역별낚시산업' }}" href="{{ url_for('main.section', folder='contents_5', page='지역별낚시산업') }}">- 지역별 낚시산업</a>
</div>
{% endif %}