<!--advanced/templates/contents/contents_1/test.html-->
{% extends "contents/contents_base_tap.html" %}

<!-- 페이지 이름 꼭 수정 필요 -->
{% block title %}
 금어기및 금지체장
{% endblock %}


{% set tabs = [
  ('id_1', '금어기','
    <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        금어기
        </h4>
        <hr>
            <p name="content_text"> 
                물고기나 해양 생물이 산란(알을 낳는 시기)할 때 포획을 금지하는 기간,<br>
                자연 생태계의 회복과 수산자원 보호를 위한 일시적인 조업 금지 기간입니다.
            </p>
            <br>
            <h4 class="fw-bold text-primary mb-3" name="content_title">
                월별 금어기인 어종
            </h4>
            <hr>
            <div name="content_text">
                <strong> 1월 </strong>
                <p>
                    1. 명태(1.1~12.31)<br>
                </p>
                
                <strong> 2월 </strong>
                <p>
                    1.대구(1.16~2.15)<br>
                </p>
    
                <strong> 3월 </strong>
                <p>
                    1. 가리비(3.1~6.30)<br>
                </p>
    
                <strong> 4월 </strong>
                <p>
                    1. 살오징어(4.1~5.31) -> 근해채낚기, 연안복합, 정치망은 4.1~4.30<br>
                    2. 고등어(4.1~6.30중 1개월)<br>
                </p>
    
                <strong> 5월 </strong>
                <p>
                    1. 코끼리 조개(5.1~6.30)<br>
                    2. 감성돔(5.1~5.31)<br>
                    3. 삼치(5.1~5.31)<br>
                    4. 참문어(5.16~6.30) -> 시/도지사는 5.1~9.15중 46일 이상 지정 가능<br>
                    5. 대하(5.1~6.30)<br>
                    6. 전어(5.1~7.15)<br>
                    7. 말쥐치(5.1~7.31)<br>
                    8. 주꾸미(5.11~8.31)<br>
                </p>
    
                <strong> 6월 </strong>
                <p>
                    1. 낙지(6.1~6.30)<br>
                    2. 참홍어(6.1~7.15)<br>
                    3. 꽃게(6.21~8.20) -> 단 연평은 7.1~8.31/백령, 대청, 소청은 7.16~9.15<br>
                    4. 소라(6.1~6.30(여수 삼산면), 6.1~8.31(제주), 7.1~8.31(제주 추자도), 6.1~7.31(울릉도, 독도))<br>
                    5. 새조개(6.16~9.30) -> 부산, 울산, 경남, 전남, 제주는 6.1~9.30<br>
                    6. 대게(6.1~11.30)<br>
                </p>
    
                <strong> 7월 </strong>
                <p>
                    1. 갈치(7.1~7.31) -> 근해채낚기, 연안복합 제외<br>
                    2. 참조기(7.1~7.31) -> 유자망 4.22~8.10<br>
                    3. 해삼(7.1~7.31)<br>
                    4. 오분자기(7.1~8.31)<br>
                    5. 키조개(7.1~8.31)<br>
                    6. 붉은대게(7.10~8.25) -> 강원 연안자망은 6.1~7.10<br>
                    7. 옥돔(7.21~8.20)<br>
                </p>
    
                <strong> 8월 </strong>
                <p>
                    금어기 어종 없음<br>
                </p>
    
                <strong> 9월 </strong>
                <p>
                    1. 전복류(9.1~10.31) -> 제주 10.1~12.31<br>
                    2. 넓미역(9.1~11.30) -> 제주 고리소 5.1~11.30 중 3개월 이상 지정 가능<br>
                </p>
    
                <strong> 10월 </strong>
                <p>
                    1. 연어(10.1~11.30)<br>
                    2. 톳(10.1~내년 1.31)<br>
                </p>
    
                <strong> 11월 </strong>
                <p>
                    1. 쥐노래미(11.1~12.31)<br>
                    2. 우뭇가사리(11.1~내년 3.31)<br>
                </p>
    
                <strong> 12월 </strong>
                <p>
                    1. 문치가자미(12.1~내년 1.31)<br>
                </p>
            </div>

            <p style="text-align: right; font-size: 0.8em; color: #666;">
                출처: 
                <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240724132353775LSL.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 정보,</a>
                <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240214104927197IUY.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 Q&A,</a>
                <a href="https://www.mof.go.kr/index.do" target="_blank" rel="noopener noreferrer"> 해양수산부</a>
            </p>
        </div>
  '),

  ('id_2', '금지체장','
    <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
            금지체장
        </h4>
        <hr>
        <p name="content_text"> 
            수산 생물이 충분히 성장하거나 번식하기 전에 포획되는 것을 방지하기 위해,
            <br>[국가 또는 관련 기관이 법적으로 정한 최소한의 체장(몸길이)] 을 말합니다.
        </p>
        <br>
        <h4 class="fw-bold text-primary mb-3" name="content_title">
            길이별 금지 체장 어종
        </h4>
        <hr>
        <div name="content_text">
            <strong>10cm 이하</strong>
            <p>
                1. 기수재첩(1.5cm)<br>
                2. 오분자기(4cm)<br>
                3. 소라(5cm)<br>
                4. 꽃게(6.4cm)<br>
                5. 전복류(7cm) -> 제주 10cm<br>
                6. 대게(9cm)<br>
            </p>
            
            <strong>10cm초과 20cm이하</strong>
            <p>
                1. 도루묵(11cm)<br>
                2. 살오징어(15cm)<br>
                3. 참조기(15cm)<br>
                4. 볼락(15cm)<br>
                5. 키조개(18cm) -> 부산, 울산, 강원, 경북, 경남<br>
                6. 말쥐치(18cm)<br>
                7. 갈치(18cm) -> 항문장<br>
                8. 쥐노래미(20cm)<br>
                9. 문치가자미(20cm)<br>
                10. 기름가자미(20cm)<br>
                11. 용가자미(20cm)<br>
                12. 참가자미(20cm)<br>
                13. 청어(20cm)<br>
            </p>
    
            <strong>20cm초과</strong>
            <p>
                1. 고등어(21cm)<br>
                2. 조피볼락(23cm)<br>
                3. 참돔(24cm)<br>
                4. 감성돔(25cm)<br>
                5. 방어(30cm)<br>
                6. 농어(30cm)<br>
                7. 민어(33cm)<br>
                8. 넙치(35cm)<br>
                9. 대구(35cm)<br>
                10. 붕장어(35cm)<br>
                11. 갯장어(40cm)<br>
                12. 미거지(40cm)<br>
                13. 참홍어(42cm)<br>
            </p>
        </div>

        <p style="text-align: right; font-size: 0.8em; color: #666;">
            출처: 
            <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240724132353775LSL.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 정보,</a>
            <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240214104927197IUY.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 Q&A,</a>
            <a href="https://www.mof.go.kr/index.do" target="_blank" rel="noopener noreferrer"> 해양수산부</a>
        </p>
    </div>
  '),

  
] %} 
