<!--advanced/templates/contents/contents_1/test.html-->
{% extends "contents/contents_base_tap.html" %}

<!-- 페이지 이름 꼭 수정 필요 -->
{% block title %}
  낚시 금지 구역
{% endblock %}


{% set tabs = [
  ('id_1', '낚시제한구역-항만법','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
    항만법에 따른 낚시제한구역에 관하여
    </h4>
    <hr>
        <div name="content_text">
            <p> 
                바다낚시를 즐기는 분들이라면 반드시 알아두어야 할 중요한 사항 중 하나가 낚시 금지 구역에 대한 내용입니다.<br>
                비록「수산자원관리법」이나 관련 법령에 따라 ‘바다낚시 금지구역’이 명확히 명시되어 있지 않은 경우도 있지만, 실제로는 여러 법령에 의해 낚시가 제한되거나 금지되는 구역이 존재합니다.<br>      
                대표적인 예로,「항만법」에 따라 항구 지역 내에서는 낚시 행위가 금지되어 있습니다. 항만은 선박의 이동과 하역작업 등 다양한 활동이 이루어지는 공간으로, 안전사고를 예방하고 항만 운영을 원활히 하기 위해 낚시가 제한되는 것입니다.<br>   
            </p>
            <hr>
            <h4 class="fw-bold text-primary mb-3" name="content_title">
                낚시 제한 항만
            </h4>
            <strong name="content_title"> 동해안 </strong>
            <p name="content_text">
                울산항, 포항항, 동해·묵호항, 호산항, 삼척항, 옥계항, 속초항                
            </p>
            <strong name="content_title"> 서해안 </strong>
            <p name="content_text">
                경인항, 인천항, 평택·당진항, 대산항, 장항항, 군산항, 목포항,서울항, 태안항, 보령항                
            </p>
            <strong name="content_title"> 남해안 </strong>
            <p name="content_text">
                여수항, 광양항, 마산항, 부산항, 완도항, 제주항, 서귀포항, 삼천포항, 하동항, 통영항, 고현항, 옥포항, 장승포항, 진해항                
            </p> 
            <p style="text-align: right; font-size: 0.8em; color: #666;">
                출처: 
                <a href="https://www.law.go.kr/LSW//lsInfoP.do?lsId=001737&ancYnChk=0#J28:0" target="_blank" rel="noopener noreferrer">항만법 제 28조,</a>
                <a href="https://www.law.go.kr/LSW//conAdmrulByLsPop.do?&lsiSeq=270749&joNo=0030&joBrNo=00&datClsCd=010102&dguBun=DEG&lnkText=%25EC%25A7%2580%25EC%25A0%2595%25ED%2595%25A0%2520%25EC%2588%2598%2520%25EC%259E%2588%25EB%258B%25A4&admRulPttninfSeq=8827" target="_blank" rel="noopener noreferrer"> 지역별 레저금지구역,</a>
                <a href="https://www.law.go.kr/LSW/main.html" target="_blank" rel="noopener noreferrer"> 법제처 국가법령정보센터</a>
            </p>        
        </div>
  </div>
  '),

  ('id_2', '낚시제한구역-수상레저안전법','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      수상레저안전법에 따른 낚시제한구역
    </h4>
    <hr>
        <div name="content_text">
            <p> 
                또한「수상레저안전법」에 따라 수상레저활동이 금지된 구역에서도 낚시는 불가능합니다.<br>
                이러한 지역은 수상레저의 안전을 확보하기 위해 지정되며, 낚시도 동일하게 제한 대상에 포함됩니다.<br>        
                이처럼 특정 구역에서의 낚시 행위는 법적인 근거 없이 자유롭게 할 수 있는 활동이 아니며, 각종 법령에 따라 제한될 수 있습니다.<br>
                
            </p>
            <br>
            <h4 class="fw-bold text-primary mb-3">
                낚시제한구역
            </h4>
            <hr>
            <strong name="content_title">강원도</strong>
            <p name="content_text">
                · 동해 해수욕장들 (연곡, 사천진, 사천, 순긋, 사근진, 경포, 강문, 송정, 안목, 동명, 정동진, 금진, 옥계, 망상리조트, 망상, 대진, 추앙, 증산, 삼척, 맹방, 덕산, 궁촌, 원평, 용화, 장호)<br>
                · 고성군 : 하이면 제전마을, 상족암 유원지                <br>
                · 기타 강원도 해수욕장 및 해안지역 (화진포, 봉포, 속초, 영진, 송지호, 봉수대, 삼포, 백도, 아야진, 천진, 봉포 캔싱턴 리조트, 등대, 외옹치, 낙산, 동호, 하조대, 중광정, 죽도, 인구, 지경리, 주문진) <br>
            </p>
            
            <strong name="content_title">전라북도</strong>
            <p name="content_text">
                · 군산시 : 선유도 해수욕장, 신시도 배수갑문 주변, 비응항 주변해상, 직도 주변해상<br>
                · 부안 : 변산 해수욕장, 격포 해수욕장, 고사포 해수욕장, 모항 해수욕장, 상록 해수욕장, 위도 해수욕장, 동호 해수욕장, 구시포 해수욕장, 가력도 배수갑문 주변 해상, 변산 대명(소노벨)리조트 앞 해상, 미여도(쌍여도) 주변 해상<br>
            </p>

            <strong name="content_title">전라남도</strong>
            <p name="content_text">
                · 해수욕장 : 만성리 해수욕장, 장등 해수욕장, 방죽포 해수욕장, 나로도 해수욕장, 덕흥 해수욕장, 남열 해수욕장, 대전 해수욕장, 익금 해수욕장, 발포 해수욕장, 율포 해수욕장, 웅천친수공원 해수욕장<br>
                · 그 외 : 정도리 유원지, 신지도 명사십리, 보길도 중리, 보길도 예송리, 약산면 가사리, 금일읍 해당화, 송지면 송호리, 송지면 사구미<br>
            </p>

            <strong name="content_title">충청남도</strong>
            <p name="content_text">
                · 보령 : 대천 해수욕장, 무창포 해수욕장, 춘장대 해수욕장<br>
                서울시 공무원 연수원 앞 해상, 서천화력발전소 앞 해상
            </p>    
             <strong name="content_title">경상남도·부산</strong>
            <p name="content_text">
                · 통영시 : 사량도 대향 해수욕장
                · 사천시 : 남일대 해수욕장                
                · 남해군 : 사촌 해수욕장, 상주 해수욕장, 송정 해수욕장, 두곡/월포 해수욕장
                · 부산광역시 : 송정 해수욕장, 해운대 해수욕장, 광안리 해수욕장              
            </p>
            <p style="text-align: right; font-size: 0.8em; color: #666;">
                출처: 
                <a href="https://www.law.go.kr/LSW//lsInfoP.do?lsId=001988&ancYnChk=0#J30:0" target="_blank" rel="noopener noreferrer"> 수상레저안전법 30조,</a>
                <a href="https://www.law.go.kr/LSW//conAdmrulByLsPop.do?&lsiSeq=270749&joNo=0030&joBrNo=00&datClsCd=010102&dguBun=DEG&lnkText=%25EC%25A7%2580%25EC%25A0%2595%25ED%2595%25A0%2520%25EC%2588%2598%2520%25EC%259E%2588%25EB%258B%25A4&admRulPttninfSeq=8827" target="_blank" rel="noopener noreferrer"> 지역별 레저금지구역,</a>
                <a href="https://www.law.go.kr/LSW/main.html" target="_blank" rel="noopener noreferrer"> 법제처 국가법령정보센터</a>
            </p>
        </div>
  </div>
  '),

  
] %} 