<!-- advanced/templates/contents/contents_5/금어기.html-->
{% extends "contents/contents_base.html" %}

{% block title %}금어기{% endblock %}

<div name="section"></div>
{% block content_title %}
<h3 class="fw-bold text-primary mb-3" name="content_title">
    금어기
</h3>
<hr>
    {% endblock %}

    {% block content_body %}
    <div name="content_text">
        <p name="content_text">수산자원의 종류(분류군)나 서식 지역에 따라, 법적으로 포획이 금지된 크기(금지체장)나 시기(금어기)가 정해져 있는 경우가 있습니다.<br>
        이는 해양 생태계의 균형을 유지하고, 수산자원의 지속적인 보호와 관리를 위해 매우 중요한 제도입니다.<br>
        따라서 이러한 기준은 단순한 권고가 아닌 법률로 명확히 규정된 사항이며, 이를 위반할 경우 과태료나 형사처벌 등의 불이익을 받을 수 있습니다.<br>        
        특히, 어류가 산란하거나 성장이 필요한 시기에는 금어기가 설정되어 있어 포획이 금지되며, 아직 성숙하지 않은 어린 개체는 금지체장 기준에 따라 포획이 제한됩니다.<br>
        이러한 규정을 미리 숙지하고 철저히 준수하는 것은 우리 모두의 책임이며, 미래의 풍요로운 어장을 위해 꼭 필요한 실천입니다.<br>        
        반드시 사전에 금지된 기간이나 크기에 해당하는 어종 정보를 확인하여, 불이익을 받는 일이 없도록 주의하시기 바랍니다.<br>
        </p>
    </div>
    <p style="text-align: right; font-size: 0.8em; color: #666;">
        출처: 
        <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240724132353775LSL.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 정보,</a>
        <a href="https://www.nifs.go.kr/distantwater/skin/doc.html?fn=20240214104927197IUY.pdf&rs=/distantwater/preview/Board0028/" target="_blank" rel="noopener noreferrer"> 금어기 관련 Q&A,</a>
        <a href="https://www.mof.go.kr/index.do" target="_blank" rel="noopener noreferrer"> 해양수산부</a>
    </p>           

    {% endblock %}
</div>