<!-- advanced/templates/contents/contents_5/낚시금지구역.html-->
{% extends "contents/contents_base.html" %}

{% block title %}낚시금지구역{% endblock %}

<div name="section">
{% block content_title %}
<h3 class="fw-bold text-primary mb-3" name="content_title">
    낚시금지구역
</h3>
<hr>
    {% endblock %}

    {% block content_body %}
    <div name="content_text">
        <p>
        바다낚시를 즐기는 분들이라면 반드시 알아두어야 할 중요한 사항 중 하나가 낚시 금지 구역에 대한 내용입니다.<br>
        비록「수산자원관리법」이나 관련 법령에 따라 ‘바다낚시 금지구역’이 명확히 명시되어 있지 않은 경우도 있지만, 실제로는 여러 법령에 의해 낚시가 제한되거나 금지되는 구역이 존재합니다.<br>      
        대표적인 예로,「항만법」에 따라 항구 지역 내에서는 낚시 행위가 금지되어 있습니다. 항만은 선박의 이동과 하역작업 등 다양한 활동이 이루어지는 공간으로, 안전사고를 예방하고 항만 운영을 원활히 하기 위해 낚시가 제한되는 것입니다.<br>   
        낚시가 금지되는 항만은 서해안에는 경인항, 인천항, 평택·당진항, 대산항, 장항항, 군산항, 목포항,서울항, 태안항, 보령항,<br> 
        남해안에는 여수항, 광양항, 마산항, 부산항, 완도항, 제주항, 서귀포항, 삼천포항, 하동항, 통영항, 고현항, 옥포항, 장승포항, 진해항,<br> 
        동해안에는 울산항, 포항항, 동해·묵호항, 호산항, 삼척항, 옥계항, 속초항이 있습니다.</p><br>   
        <p>또한「수상레저안전법」에 따라 수상레저활동이 금지된 구역에서도 낚시는 불가능합니다. 이러한 지역은 수상레저의 안전을 확보하기 위해 지정되며, 낚시도 동일하게 제한 대상에 포함됩니다.<br>        
        이처럼 특정 구역에서의 낚시 행위는 법적인 근거 없이 자유롭게 할 수 있는 활동이 아니며, 각종 법령에 따라 제한될 수 있습니다.<br>
        따라서 낚시를 계획하고 있다면, 해당 지역이 낚시 금지구역에 해당하는지 사전에 확인하고, 관련 규정을 숙지하는 것이 매우 중요합니다.<br>        
        불이익이나 처벌을 받지 않기 위해서라도 낚시 금지 구역에 대한 정보를 정확히 알고, 책임 있는 태도로 낚시를 즐기도록 합시다. <br>            
        </p>
    </div>
    <p style="text-align: right; font-size: 0.8em; color: #666;">
        출처: 
        <a href="https://www.law.go.kr/LSW//lsInfoP.do?lsId=001737&ancYnChk=0#J28:0" target="_blank" rel="noopener noreferrer">항만법 제 28조,</a>
        <a href="https://www.portcals.go.kr/cd/selectPdfViewVw.do" target="_blank" rel="noopener noreferrer"> 항만법 28조 추가 법령,</a>
        <a href="https://www.law.go.kr/LSW//lsInfoP.do?lsId=001988&ancYnChk=0#J30:0" target="_blank" rel="noopener noreferrer"> 수상레저안전법 30조,</a>
        <a href="https://www.law.go.kr/LSW//conAdmrulByLsPop.do?&lsiSeq=270749&joNo=0030&joBrNo=00&datClsCd=010102&dguBun=DEG&lnkText=%25EC%25A7%2580%25EC%25A0%2595%25ED%2595%25A0%2520%25EC%2588%2598%2520%25EC%259E%2588%25EB%258B%25A4&admRulPttninfSeq=8827" target="_blank" rel="noopener noreferrer"> 지역별 레저금지구역,</a>
        <a href="https://www.law.go.kr/LSW/main.html" target="_blank" rel="noopener noreferrer"> 법제처 국가법령정보센터</a>
    </p>
    {% endblock %}
</div>