<!--advanced/templates/contents/contents_1/test.html-->
{% extends "contents/contents_base_tap.html" %}
{% set folder = 'contents_1' %}

<!-- 페이지 이름 꼭 수정 필요 -->
{% block title %}
  귀어귀촌 개념
{% endblock %}

<!--'id: 마음대로 입력 가능 (고유값)',
    '탭 이름',
    '탭 내용'
-->

{% set tabs = [
  ('id_1', '맨손 어법','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      맨손 어법
    </h4>
    <hr>
        <div name="content_text">
            <p> 
            수산 동·식물을 직접 손으로 또는 간단한 도구로 잡거나, 훈련된 동물(개, 수달, 가마우지 등)로써 잡는 것을 말한다. 
            사용하는 도구는 대체로 그 크기가 작으며 오히려 잡은 어획물을 운반하는데 필요한 주머니나 양동이 등이 사용하는 도구보다 더 중요한 역할을 하는 경우가 있다.
            </p>
            <br>
            <h4 class="fw-bold text-primary mb-3">
                어구의 소분류 
            </h4>
            <hr>
            <strong name="content_title">손으로 더듬어 잡는 것(Grasping by hand)</strong>
            <p name="content_text">
                우리나라에서 행하고 있는 대표적인 것으로는 조개류 채취어업과 손꽁치 어업 등이 있다. 
                이들 어구는 과거부터 어구구조 및 조업방법 등에 큰 변화 없이 사용되어 오고 있으며, 
                다만 이전에는 어구분류상 잡어구류로 분류되었었다
            </p>
            
            <strong name="content_title">잠수하여 잡는것(By diving)</strong>
            <p name="content_text">
                사람이 직접 물 속으로 들어가 대상물을 확인한 다음 칼, 갈고리 등 간단한 도구를 이용하거나 맨손으로 잡는 것이다. 
                각종 잠수장비를 착용하고 배로부터 공기를 공급받으면서 조업하는 잠수기 어업과 공기의 공급을 받지 않고 단순히 잠수복만 착용하여 조업하는 나잠 어업이 있다. 
                이중 잠수기 어업의 공기 공급방법은 이전에는 수동펌프를 사용하였으나 현재에는 에어 컴프레서(air-compressor)를 주로 사용하고 있다. 
                또한 이 어업은 이전에는 어구분류상 잡어구류로 분류되었었다.
            </p>
        </div>
  </div>
  '),

  ('id_2', '살상어구류','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      살상어구류
    </h4>
    <hr>
        <div name="content_text">
            <p> 
              수산 동·식물을 대상으로 손잡이가 달린 도구를 직접 손에 잡고 대상물을 잡거나 끝이 날카로운 도구를 던지거나 쏘아서 대상물을 잡는 것을 말한다.
            </p>
            <br>
            <h4 class="fw-bold text-primary mb-3">
                어구의 소분류 
            </h4>
            <hr>
            <strong name="content_title">수용기구류(手用器具類, Hand instruments)</strong>
            <p name="content_text">
              일정한 장소에 정착하여 서식하는 극피동물, 조개류, 해조류 등을 대상으로 긴 손잡이가 달린 도구를 손에 잡고 대상물을 죄거나 집거나 해저를 긁거나 비틀어 잡는 것이다. 따라서 대부분 대상물을 직접 또는 물안경을 통하여 육안으로 확인한 다음 채포 또는 채취한다. 과거에는 연안에서 미역·다시마 틀이류, 해삼·문어 걸이류, 소라·성게 죔쇠류, 해삼·굴 집게류, 조개 써레류 등이 많이 사용되었으나 현재에는 거의 사용되지 않고 있으며, 잠수기, 나잠, 형망 등으로 채취, 채포하고 있다. 이전에는 어구분류상 수용기구류는 잡어구류 중 협렬구류로 분류되었었다.
            </p>
            
            <strong name="content_title">투사물류(投射物類, Sharp projectiles)</strong>
            <p name="content_text">
              끝이 날카로운 도구를 직접 대상물을 향해 던지거나 쏘아서 잡는 것이다. 따라서 대부분 수용기구류와 같이 대상물을 확인한 다음 채포한다. 우리나라에서 소규모로 행하고 있는 것으로는 하천이나 강에서 자라, 연어 등을 대상으로 사용하는 창류와 연안에서 개불을 대상으로 사용하는 걸이류가 있다. 또한 일부 지방에서는 돌고래 마침대, 뱀장어 작살, 해삼 작살 등이 사용되었으나 최근에는 거의 사용되지 않고 있으며, 어업으로 매우 중요한 위치를 차지하던 포경어업은 국제포경위원회 협약에 의해 오랫동안 사용하지 못하고 있는 실정이다. 이전에는 어구분류상 투사물류는 잡어구류 중 자돌구류로 분류되었었다.
            </p>
        </div>
  </div>
  '),

  ('id_3', '마비어구류','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      마비어구류
    </h4>
    <hr>
        <div name="content_text">
            <p> 
              수산동물을 마비시켜 도망가지 못하게 한 다음 채그물류 등으로 떠서 잡는 것이다. 마비시키는 방법에 따라 몽둥이나 폭약을 이용한 물리적 방법, 독소류나 약품 등을 이용한 화학적 방법, 전기를 이용한 전기적 방법 등이 있다. 우리나라에서는 자원보호 및 안전을 위하여 사용이 금지되고 있는 어법이다.
            </p>
            <br>
            <h4 class="fw-bold text-primary mb-3" >
                어구의 소분류 
            </h4>
            <hr>
            <strong name="content_title">물리적 마비어구류(物理的 痲痺具類, Mechanical stupefying)</strong>
            <p name="content_text">
              어획 대상물을 물리적으로 충격을 주어 마비시킨 후 잡는 것으로 물리적 충격을 주기 위하여 몽둥이, 해머 등으로 바위, 얼음 등에 타격을 가하거나 다이너마이트 등의 폭발물을 사용하여 어류를 폭사시키는 방법이 있다. 전자를 타격구류(打擊具類, striking gear), 후자를 폭약류(爆藥類)로 분류하고 있다.
            </p>
            
            <strong name="content_title">화학적 마비어구류(化學的 痲痺具類, Chemical stupefying)</strong>
            <p name="content_text">
              유독성 화학약품 또는 독성이나 마비효과가 있는 나무뿌리, 열매 같은 것을 물에 용해시켜 어류를 마비 또는 독살시키는 방법으로 동·식물성 독소류, 약품류, 탈산제 등이 사용된다.
            </p>

            <strong name="content_title">전기적 마비어구류(電氣的 痲痺具類, Electrical stupefying)</strong>
            <p name="content_text">
              물 속에서 일정한 거리를 둔 두 지점에 각각 전기의 양극과 음극을 넣고 전기를 흐르게 하여 두 지점 사이에 있는 고기를 감전시켜 잡는 것이다. 민물에서는 전기전도율이 낮아 전력소모가 그다지 크지 않으므로 어업적으로 이용이 가능하지만 자원보호상 금지되어 있고, 해양에서는 전기전도율이 높아서 어업적으로 이용이 곤란하다.
            </p>
        </div>
  </div>
  '),



  
] %} 