<!--advanced/templates/contents/contents_1/test.html-->
{% extends "contents/contents_base.html" %}


<!-- 페이지 이름 꼭 수정 필요 -->
{% block title %}
  어업 종류
{% endblock %}

<!--'id: 마음대로 입력 가능 (고유값)',
    '탭 이름',
    '탭 내용'
-->
{% block content_title %}
  
  <div name="section" >
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      지역별 주력 어종
    </h4>
    <hr>
    <div id="map" style="width:100%;height:1100px;"></div>
    <!-- 모달 배경 -->
    <div id="modalBackdrop" style="display:none;" onclick="closeModal()"></div>

    <!-- 모달 본체 -->
    <div id="modal" style="display:none;">
      <div class="modal-content">
        <button class="close-button" onclick="closeModal()">×</button>
        <h2 id="modalTitle"></h2>
        <hr>
        <strong>어업 유형</strong>
        <p id="fishingType"></p>
        <strong>주요 어종</strong>
        <p id="fishType"></p>
        <strong>양식 대상 어종</strong>
        <p id="aquacultureType"></p>
      </div>
    </div>
    <p hidden name="content_text">
        1. 서울특별시
        서울특별시 어업 유형: 내수면 어업 중심
        서울특별시 주요 어종: 붕어, 잉어, 메기
        서울특별시 양식 대상 어종: 메기, 쏘가리
        2. 부산광역시
        부산광역시 어업 유형: 연근해 어업 및 양식
        부산광역시 주요 어종: 고등어, 멸치, 오징어
        부산광역시 양식 대상 어종: 넙치, 조피볼락
        3. 대구광역시
        대구광역시 어업 유형: 내수면 어업 중심
        대구광역시 주요 어종: 붕어, 잉어, 메기
        대구광역시 양식 대상 어종: 메기, 쏘가리
        4. 인천광역시
        인천광역시 어업 유형: 연근해 어업 및 양식
        인천광역시 주요 어종: 꽃게, 조기, 전어
        인천광역시 양식 대상 어종: 넙치, 조피볼락
        5. 광주광역시
        광주광역시 어업 유형: 내수면 어업 중심
        광주광역시 주요 어종: 붕어, 잉어, 메기
        광주광역시 양식 대상 어종: 메기
        6. 대전광역시
        대전광역시 어업 유형: 내수면 어업 중심
        대전광역시 주요 어종: 붕어, 잉어, 메기
        대전광역시 양식 대상 어종: 메기
        7. 울산광역시
        울산광역시 어업 유형: 연근해 어업 및 양식
        울산광역시 주요 어종: 고등어, 오징어, 전갱이
        울산광역시 양식 대상 어종: 넙치, 조피볼락
        8. 세종특별자치시
        세종특별자치시 어업 유형: 내수면 어업 중심
        세종특별자치시 주요 어종: 붕어, 잉어, 메기
        세종특별자치시 양식 대상 어종: 메기
        9. 경기도
        경기도 어업 유형: 내수면 및 연안 어업
        경기도 주요 어종: 붕어, 잉어, 메기, 꽃게
        경기도 양식 대상 어종: 메기, 쏘가리
        10. 강원도
        강원도 어업 유형: 연근해 어업 및 양식
        강원도 주요 어종: 명태, 오징어, 대구
        강원도 양식 대상 어종: 대구
        11. 충청북도
        충청북도 어업 유형: 내수면 어업 중심
        충청북도 주요 어종: 붕어, 잉어, 메기
        충청북도 양식 대상 어종: 메기
        12. 충청남도
        충청남도 어업 유형: 연근해 어업 및 양식
        충청남도 주요 어종: 꽃게, 조기, 전어
        충청남도 양식 대상 어종: 넙치, 조피볼락
        13. 전라북도
        전라북도 어업 유형: 연근해 어업 및 양식
        전라북도 주요 어종: 전어, 농어, 조기
        전라북도 양식 대상 어종: 넙치, 조피볼락
        14. 전라남도
        전라남도 어업 유형: 연근해 어업 및 양식
        전라남도 주요 어종: 감성돔, 벵에돔, 전갱이
        전라남도 양식 대상 어종: 넙치, 조피볼락, 전복, 김
        15. 경상북도
        경상북도 어업 유형: 연근해 어업 및 양식
        경상북도 주요 어종: 대구, 오징어, 명태
        경상북도 양식 대상 어종: 대구, 전복
        16. 경상남도
        경상남도 어업 유형: 연근해 어업 및 양식
        경상남도 주요 어종: 고등어, 멸치, 참다랑어
        경상남도 양식 대상 어종: 조피볼락, 벤자리, 전복, 김
        17. 제주특별자치도
        제주특별자치도 어업 유형: 연근해 어업 및 양식
        제주특별자치도 주요 어종: 벵에돔, 참돔, 갈치
        제주특별자치도 양식 대상 어종: 넙치, 조피볼락, 전복
    </p>
  </div>
  
  {% endblock %}