<!-- advanced/templates/contents/contents_1/귀어귀촌개념.html-->
{% extends "contents/contents_base.html" %}

{% block title %}
귀어귀촌 개념
{% endblock %}

<div name="section-concept-gw-fishing">
    {% block content_title %}
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        귀어/귀어업
    </h4>
    <hr>
    <p name="content_text">
        어업활동을 하기 위해 타지에서부터 어촌으로 이사와 거주하는 것
    <br>
    <br>
    <em style="font-size: 0.9em;">J턴 : 어촌 출신 도시거주자가 연고가 없는 타향 어촌으로 이주</em>
    <br>
    <em style="font-size: 0.9em;">U턴 : 어촌 출신 도시거주자가 고향 어촌으로 다시 복귀</em>
    <br>
    <em style="font-size: 0.9em;">I턴 : 도시거주자가 어촌으로 이주</em>
    <br>
    <br>
    {% endblock %}


    {% block content_body %}
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        귀촌/귀어촌
    </h4>
    <hr>
    <p name="content_text">
    귀촌/귀어촌어업활동과 관련없이 타지에서 어촌으로 이주하는 것
    <p style="text-align: right; font-size: 0.8em; color: #666;">
    출처: 
    <a href="https://gwsealife.or.kr/page/fv1.php" target="_blank" rel="noopener noreferrer">귀어귀촌 종합센터</a>, 
    <a href="https://www.sealife.go.kr/about/aboutSealife.do" target="_blank" rel="noopener noreferrer">강원귀어귀촌지원센터</a>
    </p>
      
    {% endblock %}
</div>