<!-- advanced/templates/contents/contents_1/귀어귀촌개념.html-->
{% extends "contents/contents_base.html" %}

{% block title %}귀어귀촌 개념{% endblock %}

<div name="section">
{% block content_title %}
    <h3 class="fw-bold text-primary mb-3" name="content_title">
        귀어귀촌 개념
    </h3>
    <hr>
    {% endblock %}

    <!-- 여기에 입력한 내용은 등장하지 않습니다. -->

    {% block content_body %}
    <div class="content-body" name="content_text">
        <p>귀어는 도시민이 어촌으로 이주하여 어업에 종사하는 것을 말합니다. 최근 귀어 인구 증가와 정부 정책의 지원으로 활발히 진행되고 있습니다.</p>
        <p>귀어는 단순한 이사가 아니라 지역 사회로의 재정착이 중요하며, 준비 과정이 매우 중요합니다.</p>
    </div>
    {% endblock %}
</div>