<!-- advanced/templates/contents/contents_1/귀어귀촌개념.html-->
{% extends "contents/contents_base.html" %}

{% block title %}
어업의 개념
{% endblock %}

<div name="section-concept-fishing">
    {% block content_title %}
    {% endblock %}

    {% block content_body %}
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        어업의 정의
    </h4>
    <hr>
    <p name="content_text">
        "어업"이란 국내 수산업법의 정의에 따르면, 수산동식물을 포획ㆍ채취하는 사업과 염전에서 바닷물을 자연 증발시켜 소금을 생산하는 사업을 말한다. "수산업"이란 「수산업ㆍ어촌 발전 기본법」 제3조 제1호 각 목에 따른 어업ㆍ양식업ㆍ어획물운반업ㆍ수산물가공업 및 수산물유통업을 말한다. 이때 어업은 수산업에 해당한다.
    <p style="text-align: right; font-size: 0.8em; color: #666;">
    출처: 
    <a href="https://www.law.go.kr/LSW//lsLawLinkInfo.do?chrClsCd=010202&lsJoLnkSeq=1000657471&lsId=001486&print=print" target="_blank" rel="noopener noreferrer">국가법령정보센터</a>
    </p>
      
    {% endblock %}
</div>