<!-- advanced/templates/contents/contents_1/어업면허허가.html-->
{% extends "contents/contents_base.html" %}

{% block content_title %}
<div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        어업면허
    </h4>
    <hr>
    <p name="content_text">
        <strong style="color: #1A73E8;">어업면허</strong>는 특정한 수면을 독점적으로 사용할 수 있도록 국가가 권리를 부여하는 제도입니다.  
        양식어업, 정치어업, 공동어업 등이 이에 해당하며 면허를 받은 자는 지정된 어장에서 타인의 출입을 배제하고 독점적으로 어업활동을 할 수 있습니다.  
        이는 출원을 통해 국가로부터 부여되는 물권적 성격의 권리이며, 일정 수면을 점용할 수 있는 권리로 등록과 함께 어업권이 발생합니다.
    </p>
    <br>
    {% endblock %}

    {% block content_body %}
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        어업허가
    </h4>
    <hr>
    <p name="content_text">
        <strong style="color: #1A73E8;">어업허가</strong>는 일정 기준을 충족하면 누구나 신청할 수 있으며,  
        수면의 독점 없이 공동 사용이 가능한 어업 방식입니다.  
        근해어업, 연안어업, 구획어업 등이 이에 해당하며 신청 조건에 따라 시장, 군수, 구청장 또는 해양수산부장관 등 행정기관이 허가를 부여합니다.  
        허가는 면허와 달리 법적 권리를 설정해주는 것이 아닌, 제한을 일시 해제하는 방식으로 일정한 범위 내에서 어업행위를 가능하게 합니다.
    </p>

    <p style="text-align: right; font-size: 0.8em; color: #666;">
        출처: 
        <a href="https://sealife.go.kr/about/aboutStep.do" target="_blank" rel="noopener noreferrer">귀어귀촌 종합센터</a>
    </p>
    {% endblock %}
</div>