<!-- 컨텐츠 페이지의 기본 화면 구성 -->
<!-- advanced/templates/contents/contents_base.html -->
{% extends "base.html" %}

{% block title %}콘텐츠{% endblock %}

{% block content %}
<div class="row g-0" style="min-height: 600px;">
    <!-- 좌측 메뉴 -->
    <div class="col-md-3 border-end bg-white py-4 px-4">
        <ul class="list-unstyled">
            {% set folder = folder %}
            {% include "partials/menu_data.html" with context %}
          </ul>
    </div>

    <!-- 우측 본문 -->
    <div class="col-md-9 py-4 px-5 bg-light">
        {% block content_title %}{% endblock %}

        {% block content_body %}{% endblock %}
    </div>
</div>
{% endblock %}