<!-- advanced/templates/contents/contents_1/친환경지속가능어업사례및기술.html-->
{% extends "contents/contents_base.html" %}

{% block title %}
친환경 지속가능 어업 사례 및 기술
{% endblock %}

<div name="section">
    {% block content_title %}
    <h4 class="fw-bold text-primary mb-3" name="content_title">
        IoT·AI 활용 스마트 양식의 실제 적용 사례
    </h4>
    <hr>
   
    {% endblock %}


    {% block content_body %}
   
    
    <div name="content_text">
        <h5>1. AI 기반 자동 사료 공급 시스템</h5> 

       
        어류의 식욕은 수온, 시간대, 개체 크기, 건강 상태에 따라 달라지기 때문에
        AI는 수중 카메라와 센서 데이터를 분석해 지금 먹이를 줘야 하는지, 얼마나 줘야 하는지를 판단합니다.
        <br>
        기존에는 일정 시간마다 정량을 일괄 투입했지만, 스마트 양식은 필요할 때만 최소한의 양을 정밀 공급합니다.
        <p></p>
        사료비 절감 (최대 20~30%)
        <br>
        수질 악화 예방 (과잉 사료로 인한 부패 방지)
        
        <p>
            <h5>2. 실시간 수질 모니터링 및 제어</h5>
        </p>

        <p>
        센서가 지속적으로 수온, 산소, pH를 측정하며, 정해진 기준값을 벗어나면 시스템이 자동으로 산소 공급기 가동, 
        물 교체, 알림 전송 등을 수행합니다.
        </p>
        <br>
        <strong>적용 예시 </strong>
        <br>
        산소 농도 < 기준치 → 산소 공급기 자동 작동
        <br>
        수온 급변 → 히터/냉각장치 작동 + 관리자 알림
        <br>
        <strong>결과</strong>
        <br>위험 발생 전 조기 대응 가능
        <br>질병 및 스트레스 요인 최소화

        <p>
        <h5>3. AI로 질병 및 성장 상태 분석</h5> 
        </p>
        
        <p>
        AI가 물고기의 수중 영상 데이터를 분석하여
        비정상적인 움직임, 부유 행동, 색깔 변화 등을 인식합니다.
        질병의 전조 증상을 빠르게 파악해 조기 격리 및 대응이 가능합니다.
        또한, 영상 분석으로 크기·성장률 측정도 가능해 출하 시점을 정밀하게 예측할 수 있습니다.
        </p>
        
        <strong>결과</strong>
        <br>
        치명적인 질병 확산 방지 , 출하시기 최적화 → 단가 향상

        <p>
            <h5>4. 클라우드 기반 원격 제어 시스템</h5>
        </p>
        스마트폰이나 PC를 통해 어디서든 실시간으로 양식장 상태를 확인하고 조작할 수 있습니다.
        <br>
        예시: 농장주가 출타 중에도 스마트폰으로 산소 공급기를 원격 제어하거나, 수질 데이터를 확인 가능
        <P>
        24시간 대응 가능
        <br>
        노동력 부담 경감 / 무인 양식 기반
        </P>

    </div>

    
    <p style="text-align: right; font-size: 0.8em; color: #666;">
    출처: 
    <a href="" target="_blank" rel="noopener noreferrer"></a>
    </p>
      
    {% endblock %}
</div>