<!--advanced/templates/contents/contents_1/test.html-->
{% extends "contents/contents_base_tap.html" %}


<!-- 페이지 이름 꼭 수정 필요 -->
{% block title %}
  유해 해양생물
{% endblock %}

<!--'id: 마음대로 입력 가능 (고유값)',
    '탭 이름',
    '탭 내용'
-->

{% set tabs = [
  ('id_1', '괭생이모자반','
  <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      괭생이모자반
    </h4>
    <hr>
    <img src="/static/images/gwaengsaengi.jpg" alt="괭생이모자반 이미지" width="400">
    <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
    <br>
    <div name="content_text">
        <p>
            <strong>분포</strong> : (자연 개체군) 동북아시아 출현종으로 주로 우리나라와 일본, 중국 연안에 분포하며, 홍콩과 대만, 베트남에서도 드물게 출현한다. 
            우리나라에서는 전국 해안에 분포한다. 
            2023년 미국 캘리포니아에서 출현하기 시작하여 멕시코까지 확산되었다. 
            (부유 개체군) 국내 유입 괭생이모자반은 주로 중국에서 기원한 부유성 개체군으로 중국 저장성과 산둥반도, 발해만 등에 분포하는 생이모자반이 탈락 후 서해와 동중국해를 통해 유입된다.
        </p>
        <p>
            <strong>형태적 특징</strong> : 몸체는 연한 황갈색이며, 길이는 보통 1~5m인데 서식지에 따라 10m 이상 성장하기도 한다.
        </p>
        <p>
            <strong>생태적 특징</strong> : 수심 3~5m의 경성기질에 부착하여 서식한다. 성숙하면서 물리적 교란에 의해 줄기가 잘리거나 엽체 전체가 탈락되어 부유한다.
        </p>
    </div>
   
  </div>
  '),
  ('id_2', '갯줄풀','
   <div name="section">
    <h4 class="fw-bold text-primary mb-3" name="content_title">
      갯줄풀 
    </h4>
    <hr>
    <img src="/static/images/Spartina alterniflora.jpg" alt="갯줄풀 이미지" width="450">
    <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
    <br>

    <div name="content_text">
        <p>
            <strong>분포</strong> : 원산지는 미국동부연안, 멕시코만 해안 등 북아메리카이며, 갯벌에 주로 분포한다.
            국내에는 2015년 초에 학계에 보고된 이후 강화도, 진도 지역을 중심으로 확산되고 있다.
        </p>
        <p>
            <strong>형태적 특징</strong> : 다년생 벼과식물로 기수성의 다년생 초본(여러해 동안 살아간 풀)으로 튼튼한 지하경(줄기)을 길게 뻗고, 강하며 잔뿌리가 많아 복잡한 근계(땅속에서 자라는 줄기를 통틀어 일컫는 말)를 형성한다.
            퉁퉁마디, 지채, 거머리말 등과의 생존경쟁에 우위에 있어, 갯벌서식환경이 바뀜으로 인해 저서생태계 변화 초래한다.
        </p>
        <p>
            <strong>생태적 특징</strong> : 잎은 두텁고 넓으며, 끝이 뾰족한 칼날 모양이다.
            잎의 폭은 0.6~1.5cm이며, 높이는 0.4~3m 정도까지 자란다. 봄과 여름에는 황록색이고, 
            가을과 겨울에 갈색으로 바뀐다. 갯벌이나 수로에 침입해 자생식물을 몰아내고 습지 서식지를 사막화시킨다. 
            빽빽하게 형성된 갯끈풀 군락 내에 퇴적물이 쌓이면 갯벌의 고도가 높아져 육상화된다. 
            이에 철새 등 동물의 수렵 서식지에 영향을 미치고, 자생종의 생장도 방해한다.
            특히 동일 속의 식물과 잡종이 잘 일어나 유전적인 교란이 발생하고 
            생성된 잡종은 번식이 왕성해 2차적인 피해를 가져온다. 
        </p>
    </div>
   </div>
  '),
  ('id_3', '자주빛이끼벌레','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        자주빛이끼벌레
        </h4>
        <hr>
        <img src="/static/images/Watersipora subovoidea.png" alt="자주빛이끼벌레" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 거의 세계적으로 분포하며 우리나라 전 연안에서도 흔히 발견된다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 개충은 직사각형이며 표면에는 많은 구멍이 골고루 분포해 있다. 직경은 10cm 전후가 많지만 간혹 20cm 이상 되는 대형 군체도 발견된다.
                군체의 전체적인 색상은 대체로 자주색을 띈다.
            </p>
            <p>
                <strong>생태적 특징</strong> :우리나라 전 연안에 분포하며 암반 조간대 하부에서부터 수심 5m 전후의 조하대 바위 표면까지에서 가장 흔하게 발견된다.
            </p>
        </div>
   </div>
  '),

  ('id_4', '세방가시이끼벌레','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        세방가시이끼벌레
        </h4>
        <hr>
        <img src="/static/images/Tricellaria occidentalis.jpg" alt="세방가시이끼벌레 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 한국, 일본, 태평양에 분포한다. 우리나라에서는 전 연안에 분포하며 특히 제주도 연안에서 흔히 발견된다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 군체는 흰색에서 담황색에 이르기까지 색깔이 다양하다. 군체의 높이는 2~4cm 정도이다. 
                각 개별 군체가 모여 전체 직격 30cm 정도의 큰 군락을 이루기도 한다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 암반 조하대 수심 5m 전후의 바위 표면에서 쉽게 발견된다. 
                해조류, 해면동물, 다른 태형동물, 멍게, 조개껍데기, 로프, 부표, 어망, 통발, 양식장 등에 부착한다.
            </p>
        </div>
   </div>
  '),
  ('id_5', '관막이끼벌레','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        관막이끼벌레
        </h4>
        <hr>
        <img src="/static/images/Membranipora tuberculata.png" alt="관막이끼벌레 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 전 세계 바다에서 발견되며 일본, 태평양, 인도양, 대서양 등의 온대와 열대에 분포한다. 
                국내에는 경상북도, 경상남도, 전라남도, 제주도에 분포한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 길이 0.59mm~0.68mm, 폭 0.26mm~0.33mm이다. 어린 개충에서는 돌기의 석회화가 완전하지 않으므로 부분적으로 열려 있다. 
                어린 군체와 성숙한 개충과의 형태적 차이가 많으며 석회화가 많이 진전된 성숙한 군체의 개충에는 돌기가 많이 돌출한다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 군체는 해조류, 조개류의 껍데기, 플라스틱, 스티로폼 등 재질에 상관없이 부착하며 특히 감태의 잎이나 줄기에 하얗게 피복한다.
            </p>
        </div>
   </div>
  '),
  ('id_6', '아무르불가사리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        아무르불가사리
        </h4>
        <hr>
        <img src="/static/images/Asterias amurensis.jpg" alt="아무르불가사리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 러시아 오호츠크해를 기원으로 한국, 일본 등 북태평양에 주로 서식하며, 
                1990년대 초반 선박평형수를 통해 호주 남부 테즈메니아섬으로 퍼져나가는 등 분포범위가 확대 되고 있다. 
                국내에서는 제주도를 제외한 전 연안의 조간대에서부터 조하대의 약 100m 전후까지 분포한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 기본적으로는 몸통의 중앙부를 중심으로 5개의 팔을 가지며, 다 자란 성체의 팔 길이는 10 cm 내외이다. 
                먹이원의 풍부도에 따라 개체의 크기가 매우 다양하며 최대 지름이 30cm에 이르기도 한다. 몸의 윗면 중앙부로 갈수록 볼록하며 아랫면은 납작하다. 
                몸은 딱딱한 석회질의 짧은 가시로 덥혀 있으며, 옅은 노란색에 푸른색 반점을 팔 끝에 가지는 것이 일반적이다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 육식성이며 몸 밖으로 끄집어 낼 수 있는 위를 이용하여 소형갑각류, 고둥, 조개 등의 저서생물을 잡아먹는다. 
                차가운 바다에 서식하는 한류성 종이나 패류양식 등 풍부한 먹이 원으로 인해 남해안까지 서식범위가 확대된 것으로 알려지고 있다. 
                활발한 이동능력으로, 여름철에는 깊은 수심으로 이동하기도 한다. 
                국내에서는 주로 5~6월경 한 마리가 수백만 개의 알을 산란하며, 일정기간 동안 부유생활을 하는 유생단계를 거쳐 바닥에 내려앉는다.
            </p>
        </div>
   </div>
  '),
  ('id_7', '별불가사리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        별불가사리
        </h4>
        <hr>
        <img src="/static/images/Asterina pectinifera.jpg" alt="별불가사리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 한국, 일본, 러시아 연해주 등지에 분포한다. 
                국내 전 연안의 조간대에서부터 조하대 수심 약 20m 전후까지에서 매우 흔하게 분포한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 기본적으로 5개의 팔을 가지나 4개 또는 6개인 경우도 있다. 
                다 자란 성체의 팔 길이는 5~7cm 내외이다. 몸의 윗면 중앙부로 갈수록 볼록하게 높은 편이며 아랫면은 납작하다. 
                몸의 색깔은 푸른색이나 황색 바탕에 붉은색 반점을 가지는 것이 일반적이지만 변이가 매우 심하다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 잡식성이며, 몸 밖으로 위를 끄집어내어서 고둥, 조개, 갯지렁이 등 저서생물을 잡아먹거나 바위나 갯벌위에 부착하는 식물플랑크톤 등을 먹는다.
                국내에서는 주로 5~6월경 산란하며, 알에서 깨어난 유생들은 일정 시기 동안 부유생활을 거쳐 성장하고 이후 바닥에 내려앉는다.
                팔의 아래쪽에는 빨판 모양의 관족이 무수히 많이 분포하고, 이 관족을 통해 이동하거나 뒤집어진 몸을 바로 잡는다.
            </p>
        </div>
   </div>
  '),
  ('id_8', '커튼원양해파리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        커튼원양해파리
        </h4>
        <hr>
        <img src="/static/images/Chrysaora pacifica.jpg" alt="커튼원양해파리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 국내에서는 주로 5~9월에 남해안에서 출현해 왔으나, 최근 포항 등 동해 남부에서도 출현하고 있다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 전체적으로 연한 갈색이며, 머리에는 갈색의 세로 줄무늬가 있다. 30cm 크기의 중형 종이다. 
                국내 연안에서 발견되는 다른 해파리류에 비해 입?다리가 잘 발달되어 있는데, 커튼모양의 하얀 입다리가 머리 안쪽 가운데에서 길게 늘어져 있다. 
                24개의 촉수가 머리 가장자리에 붙어있으며, 머리 주변과 촉수에 자포가 밀집되어 있다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 유영하거나 떠다니면서 촉수에 걸리는 먹이를 포획하며, 유영속도는 그리 빠르지 않다.
            </p>
        </div>
   </div>
  '),

  ('id_9', '작은상자해파리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        작은상자해파리
        </h4>
        <hr>
        <img src="/static/images/Carybdea brevipedalia.jpg" alt="작은상자해파리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 서부태평양 연안에 주로 분포하던 종이었으나 최근 국내 남해안 및 제주에서 4~9월에 출현하고 있다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 4개의 납작한 면이 있어 위쪽이나 아래쪽에서 보면 상자 같은 모습을 띄며, 투명하여 물 속에서 발견하기 어렵다. 4cm 내외의 소형종으로 최대 5cm까지 자란다. 
                4개의 촉수가 있으며, 우산 가장자리를 도는 의연막이 있고, 촉수 기부에 엽상체라고 하는 퍼진 부분을 갖고 있다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 독이 매우 강하며, 사람이 쏘였을 경우 채찍 모양의 상처가 나거나 주변부위가 급격히 부어오를 수 있다.
            </p>
        </div>
   </div>
  '),
  ('id_10', '작은부레관해파리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        작은부레관해파리
        </h4>
        <hr>
        <img src="/static/images/Physalia physalis.png" alt="작은부레관해파리 이미지" width="300">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 전 세계 열대와 아열대 바다에 분포하며, 국내에는 5월부터 8월까지 제주 및 남해역에서 간간히 소량 출현한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 작은부레관해파리는 엄밀히 말하자면 해파리보다 관해파리에 가깝다. 
                그 이유로는 먹이포획, 소화, 생식의 기능을 가진 폴립들이 모여 군체를 형성하기 때문이다. 
                투명한 푸른색, 연보라색, 분홍색의 삼각형 형태의 기포체가 수면에 떠 있고, 그 아래 먹이포획, 소화, 생식 등의 기능을 가진 폴립이 군체로 부착되어 있다. 
                기포체의 길이는 3~8cm로 바다 표면에 수평으로 놓여 있다. 
                먹이 포획 폴립은 푸른색의 촉수를 지니며 그 길이는 10m 이상이 되기도 한다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 기포체는 플라뉼라로부터 기원하며, 기포체 안의 기체는 질소와 일산화탄소, 산소로 구성된다. 
                주로 바람에 의하여 이동하며, 상황이 좋지 않을 경우 기포체의 기체를 자의적으로 방출시켜 수면 밑으로 들어가기도 한다. 
                연중으로 플라뉼라를 생산하여 개체수를 증가시킨다. 먹이 포획은 촉수의 자포가 담당하고, 
                포획된 먹이는 소화 기능의 폴립으로 전달되어, 폴립 군체의 성장과 생식에 이용된다. 
                주된 먹이로는 자치어, 작은 어류 등을 먹는다. 
                천적으로는 바다거북, 갯민숭달팽이 등이 이 해파리를 포식하는 것으로 알려져 있다.
            </p>
        </div>
   </div>
  '),
  ('id_11', '보름달물해파리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        보름달물해파리
        </h4>
        <hr>
        <img src="/static/images/Aurelia aurita.jpg" alt="보름달물해파리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 전 세계에 분포하는 해파리로서 국내 연안에 출현하는 해파리 중 가장 흔한 종이다. 
                4월부터 서해 및 남해 연안을 시작으로, 5월에는 동·서·남해 전 연안으로 확산되며, 6월에는 국지적으로 대량 밀집 분포한다. 
                남해 일부해역에서는 소량이 동계에 출현한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 갓의 직경은 평균 약 15cm로 반구형이다. 
                가장 자리는 여덟 부분으로 나뉘어 있고, 간격이 일률적인 각각의 홈에는 감각기관이 있다. 
                갓 끝부분의 촉수는 짧고 매우 많으며, 자포로 뒤덮여 있다. 입과 생식소는 갓의 밑 부분의 중앙부에 위치하며, 
                4개의 구엽이 연결되어 있다. 
                촉수는 2~3cm로 다른 해파리에 비해 매우 짧은 편이다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 자웅이체로서 생활사를 보면, 7~8월경 플라뉼라를 생산하고, 플라뉼라는 약 24시간 이내 폴립으로 착저하며, 무성생식을 통하여 딸폴립을 생산한다. 
                생산된 폴립은 이듬해 봄에 횡분열을 거쳐 에피라를 생산하고, 에피라는 변태를 거쳐 메타에피라, 유체 및 성체로 성장한다. 
                일반적으로 표층 약 10m 이내에 분포하며 조류의 영향에 따라 서식수심이 다르다. 먹이로는 동물플랑크톤과 어란 등이 있으며, 천적으로는 쥐치류, 고등어, 병어 등이 이 해파리를 포식한다. 
                해류 및 조류의 흐름에 따라 분산 또는 밀집되는 성향이 강하여 항구 또는 만내에 대량으로 밀집 분포하여 수산업에 피해를 미친다. 
                해양오염, 해안 인공구조물 건설, 수산자원 남획, 기후변화 등을 보름달물해파리 대량출현의 원인으로 추정하고 있다.
            </p>
        </div>
   </div>
  '),
  ('id_12', '노무라입깃해파리','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        노무라입깃해파리
        </h4>
        <hr>
        <img src="/static/images/Nemopilema.jpg" alt="노무라입깃해파리 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 극동아시아 고유종으로 동중국해 북부 중국연안 및 발해 요동만에서 기원(추정)하여, 
                황해, 남해 및 동해 남부에 출현한다. 
                국내에서는 2003년부터 지속적으로 관찰되고 있으며, 주로 동중국해 북부 중국연안에서 기원한 것으로 추정된다. 
                5월말 제주도를 시작으로, 6월초에는 남해 서부 및 서해 남부해역, 6~7월에는 서해 및 남해 전 해역에 출현하며, 8월에는 전국적으로 확산하여 분포한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 국내에 출현하는 해파리 중 가장 크다. 
                갓의 지름은 최대 2m, 촉수를 포함한 최대 길이는 10m, 몸무게는 200kg에 달한다. 
                갓은 약간 붉은 갈색으로 여덟 방향으로 나뉘어져 있으며, 끝부분에는 8개의 감각기관이 존재하고, 구완(다리)은 8개이다. 
                갓 끝부분 및 구완에 있는 촉수에는 자포가 있다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 발생의 원인으로는 부영양화, 수산자원 남획 및 지구온난화의 영향으로 대량 발생하는 것으로 추정된다. 
                성체는 암수이체로, 11월경에 정자와 난자가 수정한다. 
                수정체는 플라뉼라-폴립-포도시스트-에피라-메타에피라의 과정을 거쳐 성체로 성장하는 것을 볼 수 있다. 주로 표층부터 100m 이내에서 서식한다. 
                먹이는 주로 1mm 내외의 동물플랑크톤을 섭식하며, 천적으로는 쥐치류나 고등어 등이 이 해파리를 포식하는 것으로 알려져 있다.
            </p>
        </div>
   </div>
  '),
  ('id_13', '코클로디니움 폴리크리코이데스','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        코클로디니움 폴리크리코이데스
        </h4>
        <hr>
        <img src="/static/images/Cochlodinium.png" alt="코클로디니움 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 이 종에 의한 적조는 국내에서 1982년에 처음 보고된 이후, 
                1995년 남해안과 동해안에 걸쳐 대규모 적조를 일으켰으며, 해마다 지속적으로 광범위하게 발생하고 있다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 세포는 대체로 8~16개체의 연쇄상 군체를 형성하며, 몸길이가 30~40 ㎛이고 폭은 20~30 ㎛ 정도이다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 오전 11시부터 오후 4시까지의 한낮에는 90% 이상이 표층으로부터 3m 이내에 분포하며, 뚜렷한 주야 수직일주운동을 보인다. 
                적조발생 시기는 수온 20~28℃이나, 실내 실험결과 25℃ 내외에서 가장 잘 성장하는 것으로 나타났다. 
                외부의 염분 변화에 잘 견디지 못하는 협염성으로, 35psu 내외의 고염도에서 높은 성장률을 보인다. 
                또한 조도가 높을수록 성장률도 높은 것으로 나타났는데, 이것은 자연 상태에서 주간동안 최대한 표층 가까이 부상함으로서 성장률을 극대화시키는 것과 관련이 있는 것으로 추정된다.
            </p>
        </div>
   </div>
  '),
   ('id_14', '차토넬라','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        차토넬라
        </h4>
        <hr>
        <img src="/static/images/Chattonella.png" alt="차토넬라 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 우리나라에서는 주로 하계에 발생되며, 남해안 연안(진해만)부근에서 출현한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 전체적으로 긴 타원형이며, 끝부분이 좁고 뾰족하다. 색은 황갈색 내지 황금갈색이며, 2개의 편모를 가지고 있다. 
                소형은 몸길이 30~55 ㎛, 폭 20~30 ㎛ 정도이며, 대형은 몸길이 50~130 ㎛, 폭 30~50 ㎛ 정도이다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 수온 15∼30℃, 염분 10∼35psu에서 잘 자라는 광온·광염성 종이다. 
                성장에 꼭 필요한 것으로는 풍부한 영양염류와 비타민 B12가 절대적으로 필요한 것으로 알려져 있다.
            </p>
        </div>
   </div>
  '),
  ('id_15', '알렉산드리움','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        알렉산드리움
        </h4>
        <hr>
        <img src="/static/images/Alexandrium.jpg" alt="알렉산드리움 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 우리나라의 진해만을 중심으로 남해안 일대에 대량 출현한다. 
                조개류의 독화현상을 유발해 유해해양생물종으로 선발되었으며, 매년 지속적으로 발생하여 피해가 커지고 있다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 세포의 길이는 22~24 ㎛ 폭은 24~26 ㎛ 정도이다. 일반적으로 가로가 넓고, 뒤쪽이 다소 편편한 삼각형 모양이다.
            <p>
                <strong>생태적 특징</strong> : 수온이 10~20℃인 봄철에 주로 출현하며, 15℃ 내외에서 적조발생 빈도가 가장 높다. 
                외부의 염분 농도변화를 견디어 생활할 수 있는 광염성종으로, 특히 20psu 내외의 저염분에서의 성장률이 높고, 조도 3,000 lux 내외의 어두운 곳에서도 잘 생활한다. 
                다른 와편모조류와 마찬가지로 상하로 수직이동을 하는데 주간에는 주로 수심 10m 내외의 중층에 분포한다. 
                이는 종 특성상, 어두운 곳에서도 잘 생활할 수 있기 때문이다. 
                온도나 조도, 영양염류 등과 같은 환경 요인의 변화에 따라 독성도 변화하는 특징을 가지고 있으며, 세포가 왕성하게 분열하는 대수증식기(log phase)보다는 정지기(stationary phase)에 독성이 강한 특성을 띈다. 
                영양염류의 농도가 현저히 낮아지거나 환경이 악화되면 유성생식을 통해 포자를 생성하며, 포자는 수개월간의 휴면기를 거친 후 환경이 알맞으면 유영세포로 다시 발아한다. 
                국내에서 발생하는 마비성패독의 대부분은 본 종에 의해 발생된다.
            </p>
        </div>
   </div>
  '),
  ('id_16', '슈도니쯔시아','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        슈도니쯔시아
        </h4>
        <hr>
        <img src="/static/images/Pseudo.jpg" alt="슈도니쯔시아 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 우리나라의 진해만과 일본의 동경만 등 내만에서 자주 출현하는 것을 볼 수 있다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 각각의 세포는 가늘고 길쭉하며, 양끝이 뾰족한 모양의 세포들이 길게 연결되어 있는 형태를 가지고 있다. 
                길이는 74∼142 ㎛이고, 폭은 3∼4.5 ㎛ 정도이다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 성장 속도가 빨라 수온 등의 환경조건만 갖춰지면 언제든지 수일 이내로 대규모 적조를 발생시킬 수 있다.
            </p>
        </div>
   </div>
  '),
  ('id_17', '디노피시스','
   <div name="section">
        <h4 class="fw-bold text-primary mb-3" name="content_title">
        디노피시스
        </h4>
        <hr>
        <img src="/static/images/Dinophysis.jpg" alt="디노피시스 이미지" width="400">
        <div style="font-size: 0.9em; color: gray; margin-top: 4px;">출처: 해양환경정보포털</div>
        <br>

        <div name="content_text">
            <p>
                <strong>분포</strong> : 전 세계 연안과 외양에 분포한다.
            </p>
            <p>
                <strong>형태적 특징</strong> : 세포의 길이가 35∼50 ㎛정도로(중간 크기)이며, 세포겉면에는 그물눈 무늬가 존재한다. 
                형태는 달걀모양이나 타원형이지만, 밑 부분은 둥근 모양을 띈다.
            </p>
            <p>
                <strong>생태적 특징</strong> : 늦봄에서 늦가을까지 출현하며, 늦봄에서 여름까지가 최대 성장을 이루는 시기이다. 
                주로 곳곳에 군집을 이루어 분포한다. 수온약층(표층과 심해층 사이에서 수온이 급격히 변화하는 층)에 가장 많다. 
                수온 8℃ 이상, 13∼22℃ 수온에서 세포농도가 급격히 증가하는 것이 관찰되고 있다.
            </p>
        </div>
    
           
   </div>
  ')
  
] %} 

{% block source %}
    <p style="text-align: right; font-size: 0.8em; color: #666;">
    출처: 
        <a href="https://www.nifs.go.kr" target="_blank" rel="noopener noreferrer"> 국립수산과학원</a>
    </p> 
{% endblock %}
           