{% extends "contents/contents_base.html" %}

{% block title %}산호초 백화 원인{% endblock %}
<div name="section">

    {% block content_title %}
    <h3 class="fw-bold text-primary mb-3" name="content_title">
    산호초 백화 현상과 원인
    </h3>
    <hr>
    <br>
    {% endblock %}


        {% block content_body %}
        <h5>산호초 백화 현상이란?</h5>
        <p>산호초는 산호 폴립과 그 조직 속에 공생하는 쥬산텔라(Zooxanthellae)라는 조류 간의 상리공생을 통해 살아갑니다.
        이 쥬산텔라는 산호초에 색깔을 부여하고 광합성을 통해 산호초 생존에 필요한 에너지를 공급합니다. 
        하지만 해수 온도가 비정상적으로 상승하거나 산성도가 높아지는 등 환경 스트레스가 가해지면, 산호 폴립은 쥬산텔라를 밖으로 배출하게 됩니다.
        쥬산텔라가 사라진 산호초는 하얗게 변하게 되는데, 이를 백화 현상(Coral Bleaching)이라고 합니다. 
        백화 현상이 장기간 지속되면 산호초는 에너지를 공급받지 못해 결국 폐사하게 됩니다.
        </p>
        <h5>산호초 백화 현상의 원인</h5>
        <p>해수 온도 상승
        <br>
        산호는 19~29℃의 온도에서만 건강하게 생존할 수 있는데 수온이 수온이 1~2℃만 높아져도 스트레스를 받아 조류를 방출하게 됩니다.
        최근 지구온난화와 해양 열파로 인해 고수온이 자주 발생하고 있으며, 이는 전 세계 산호초 백화의 가장 큰 원인 입니다.  
        </p>
        <p>강한 자외선
        <br>
        얕은 바다에서 강한 햇빛에 노출되면, 산호가 산화 스트레스를 받아 백화를 유발할 수 있습니다.
        </p>
        <p>해양 산성화
        <br>
        대기 중 이산화탄소가(CO₂)가 바다에 흡수되시면서 탄산화 반응이 일어나고, 이로 인해 바닷물의 PH가 낮아져 산성화가 진행됩니다. 
        <br>
        산성화된 해수는 산호의 석회질 골격 형성을 방해하고, 공생 관계를 불안정하게 만듭니다. 
        </p>
        <p>수질 오염 
        <br>
        농약, 비료, 생활하수 등 육상 오염물질이 바다로 유입되면, 산호의 새리 기능이 저하되고 공생 조류의 균형도 무너질 수 있습니다.
        </p>


    {% endblock %}
</div>